extends layout

block content
  h1(style='font-family:Calibri; text-shadow:2px 2px 5px gray ;color:rgb(0,0,0); font-weight: bold; font-size: 50px;') Server Side Final Project 2022
  p(style='font-family:Calibri; text-shadow:2px 2px 5px gray ;color:BlueViolet; font-weight: bold; font-size: 20px;') Liron Levi

  p
  a(href="/addinguser.html")
    button(type="button") Post - add new user

  a(href="/users/getall")
    button(type="button") Get - all users

  p
  a(href="/addingcost.html")
    button(type="button") Post - add new cost

  a(href="/costs/getall")
    button(type="button") Get - all costs

  p
  a(href="/gettingreport.html")
    button(type="button") Get - report

